<div class="alert alert-sucess" role="alert" *ngIf="adicionado"> 
  Funcionário adicionado : <strong>{{nome}}</strong>
</div>

<!-- 
  [ ] - cria property bind
  ( ) -> cria event bind

  [(ngModel)] - >uso two way data binding
-->
<div class="form-group"> 
  <label>Nome: </label>
  <input type="text" class="form-control" [(ngModel)]="nome"
      (focus)="adicionado = false" appCampoColorido>
</div>
<button type="button" class="btn btn-primary" (click)="adicionar()"
  [disabled]="nome.length == 0">Adicionar</button>